.DS_Store
.idea
.python-version
.vscode
.ruff_cache
.pytest_cache
*.code-workspace

current-workflow.txt
package-lock.json

node_modules/
flask_app/myenv/
flask_app/.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints
docs/notebooks/data
docs/notebooks/samples_golden
