<nav class="border-grey border-b-2 bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="h-35 relative flex items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-[8rem] w-auto" src="nrel-logo-web.svg" alt="NREL Logo" />
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mt-10 flex max-h-[100vh] w-[100vw] flex-col items-center justify-center" *ngIf="geoJson">
  <div class="bg-nrel-second-dark-blue flex h-16 w-[90%] items-center justify-between rounded-tl-lg rounded-tr-lg">
    <div class="relative ml-5 inline-block text-left">
      <div>
        <button
          class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          id="menu-button"
          (click)="toggleMenu()"
          type="button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          Export
          <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Dropdown menu -->
    <div
      class="absolute left-[5%] z-10 mt-52 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      *ngIf="isOpen"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <a
          class="block border-b border-gray-200 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          id="menu-item-0"
          (click)="exportAsExcel($event)"
          href=""
          role="menuitem"
          tabindex="-1"
          >Excel</a
        >
        <a
          class="block border-b border-gray-200 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          id="menu-item-1"
          (click)="exportAsCsv($event)"
          href=""
          role="menuitem"
          tabindex="-1"
          >CSV</a
        >
        <a
          class="block border-b border-gray-200 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          id="menu-item-2"
          (click)="exportAsJson($event)"
          href=""
          role="menuitem"
          tabindex="-1"
          >JSON</a
        >
        <a
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          id="menu-item-3"
          (click)="exportAsGeoJson($event)"
          href=""
          role="menuitem"
          tabindex="-1"
          >GeoJSON</a
        >
      </div>
    </div>

    <button
      class="mr-5 inline-flex justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
      (click)="handleDelete()"
    >
      Delete Selected Row
    </button>
  </div>
  <div class="mt-0 flex h-[100vh] w-[90%] justify-center p-0" id="data-container" *ngIf="geoJson">
    <app-mapbox-map></app-mapbox-map>
    <div class="cbl-table-container">
      <ag-grid-angular
        class="ag-theme-quartz"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)"
        style="height: 90%; width: 45vw"
      />
    </div>
  </div>
</div>
