{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 160
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 200,
        "trailingComma": "none"
      }
    }
  ]
}
