<nav class="bg-white border-b-2 border-grey">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-35 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-[8rem] w-auto" src="nrel-logo-web.svg" alt="NREL Logo" />
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="isObjectEmpty(jsonData)" class="home-container flex flex-col mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-10">
  <div class="info-card-container mb-5 flex max-h-[35rem]">
    <div class="info-container min-w-[30rem] w-[37rem]">
      <h1 class="inline-block text-5xl font-bold mt-7">Covered Building List Tool</h1>
      <p class="text-xl mt-5">
        Welcome to the CBL Editor, a tool for creating or managing Covered Building Lists (CBLs). With this editor, you can generate a new CBL from various
        formats, including CSV, Excel, JSON, or GeoJSON files. To create a comprehensive CBL, ensure that your data includes address, city, and state
        information.
        <br />
        <br />
        The editor provides intuitive features to modify and enhance your CBL data. You can easily edit existing entries, delete records, or add new buildings.
        Additionally, a dynamic map view displays all the buildings from your CBL, allowing for efficient and visual management of your data
      </p>
      <div class="flex justify-end">
        <a href="DOE_CBL_Guide.pdf" target="_blank" rel="noopener noreferrer"
          ><button
            class="flex h-12 items-center justify-center rounded-md bg-neutral-950 px-6 font-medium text-neutral-50 shadow-lg shadow-neutral-500/20 transition active:scale-95 bg-nrel-second-dark-blue text-white hover:bg-nrel-dark-blue"
          >
            View Additional CBL Resources
          </button></a
        >
      </div>
    </div>

    <div class="card ml-16 max-w-md max-h-[30rem] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col">
      <h5 class="mt-2 mb-7 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Requirements</h5>
      <ul class="mb-5 min-w-[20rem] max-w-md max-h-[15rem] space-y-3 text-gray-500 text-md list-disc list-inside dark:text-gray-400">
        <li>A valid MapQuest API key</li>
        <li>File(s) in a valid format(XLSX, CSV, JSON, GeoJSON)</li>
        <li>File(s) MUST contain a Address, City, and State for each entity being represented</li>

        <li>Incomplete or invalid data can distort results. Ensuring data accuracy and completeness is essential for reliable outcomes</li>
      </ul>
      <div class="flex justify-end">
        <a
          href="data_guidelines.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-nrel-second-dark-blue rounded-lg hover:bg-nrel-dark-blue"
        >
          Valid Data Examples
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <app-file-upload></app-file-upload>
</div>

<div *ngIf="!isObjectEmpty(jsonData)" class="flex mt-10 flex-col justify-center w-[100vw] max-h-[100vh] justify-center items-center">
  <div class="w-[90%] h-16 rounded-tr-lg rounded-tl-lg bg-nrel-second-dark-blue flex items-center justify-between">
    <app-dropdown-menu #dropdownMenu></app-dropdown-menu>
    <button
      class="inline-flex mr-5 justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
    >
      Delete Selected Row
    </button>
  </div>
  <div *ngIf="!isObjectEmpty(jsonData)" id="data-container" class="flex mt-0 p-0 justify-center">
    <app-mapbox-map></app-mapbox-map>
    <app-cbl-table></app-cbl-table>
  </div>
</div>
