.file-container {
  width: 300px;
  height: 100px;
  border: 4px dotted black;
}

.file {
  padding: 5rem;
  width: auto;
  height: 5rem;
}

.red-font {
  color: red;
}

#map-ref {
  width: 90vw;
}

.outer-wrapper {
  border: 1px solid black;
  margin-top: 20px;
  padding: 0;
  max-width: 1800px;
}

.table-wrapper {
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

table {
  border-collapse: collapse; /* Ensures borders are merged into a single border */
}

th {
  background-color: #0079c2;
}

th,
td {
  border: 2px solid black; /* Sets the border for table cells */
  padding: 8px; /* Optional: Adds space inside each cell */
  text-align: left; /* Optional: Aligns text to the left inside cells */
}

td {
  max-width: 200px; /* Set a maximum width for cells */
  overflow-x: auto; /* Enable horizontal scrolling */
}

#data-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}
