
.file-container{
    width: 300px;
    height: 100px;
    border: 4px dotted black;
}

.file{
    padding: 5rem;
    width: auto;
    height: 5rem;
}

.red-font{
    color: red;
}



#map-ref{
    width: 90vw;
}


.outer-wrapper{
 border: 1px solid black; 
 margin-top: 20px;
 padding: 0;
 max-width: 1800px;
}

.table-wrapper{
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
}


table{
  border-collapse: separate;
  border-spacing: 0px;
}

th{
    position: sticky;
    top: 0px;
    background-color: #0B5E90;
    color: white;
}
td{
    padding: 10px;
    max-width: 300px;
}

#coordinateData{
 
    overflow-y: scroll;
}



th, td{
    border: 1px solid black;
}











