<nav class="border-grey border-b-2 bg-white">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="h-35 relative flex items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-[8rem] w-auto" src="nrel-logo-web.svg" alt="NREL Logo" />
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mt-10 flex w-[100vw] flex-col items-center justify-center">
  <div class="bg-nrel-second-dark-blue flex h-16 w-[90vw] items-center justify-between rounded-tl-lg rounded-tr-lg">
    <div class="flex h-full flex-row items-center">
      <h5 class="mb-4 ml-4 mt-2 text-4xl font-bold text-white">Data Validation Table</h5>
    </div>

    <div class="flex flex-row items-center">
      <form class="flex flex-row items-center" (ngSubmit)="submitApiKey()">
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white" for="api_key"></label>
        <input
          class="text-md mr-[10px] block h-10 w-[17rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          id="api_key"
          [(ngModel)]="apiKey"
          type="text"
          name="api_Key"
          placeholder="Enter your MapQuest API key"
          required
        />
        <button
          class="relative mr-4 flex h-8 items-center justify-center rounded-md bg-gray-100 px-6 text-sm font-medium text-gray-700 hover:bg-gray-200"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ag-grid-angular
        class="ag-theme-quartz"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="userList"
        (gridReady)="onGridReady($event)"
        style="height: 70vh; width: 90vw"
      />
    </div>
  </div>
  <div class="mt-4 inline-flex w-[90vw] justify-end">
    <button
      class="bg-nrel-second-dark-blue hover:bg-nrel-dark-blue relative flex h-14 w-[12rem] items-center justify-center rounded-md bg-neutral-950 px-6 text-2xl font-medium text-neutral-50 text-white shadow-neutral-500/20 transition active:scale-95"
      [disabled]="isLoading"
      (click)="checkData()"
    >
      <ng-container *ngIf="!isLoading"> Run CBL Tool </ng-container>

      <svg
        class="absolute inset-0 m-auto h-8 w-8 animate-spin text-white"
        *ngIf="isLoading"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </button>
  </div>
</div>
