<nav class="bg-white border-b-2 border-grey">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-35 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-[8rem] w-auto" src="nrel-logo-web.svg" alt="NREL Logo">
        </div>
      </div>
    </div>
  </div>
</nav>






<div class="w-[100vw] flex flex-col items-center justify-center">
  <div class=" w-[90vw] inline-flex justify-start  mt-10">
  <h5 class="text-5xl font-bold mb-4">Data Validation Table</h5>
</div>
<div class="row">
  <div class="col-12">
    <ag-grid-angular
      (gridReady)="onGridReady($event)"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="userList"
      class="ag-theme-quartz"
      style="height: 70vh; width: 90vw"
    />
  </div>
</div>
<div class=" w-[90vw] inline-flex justify-end mt-4">
  <button
  class="relative h-14 w-[12rem] flex items-center justify-center rounded-md bg-neutral-950 px-6 font-medium text-neutral-50 text-2xl shadow-neutral-500/20 transition active:scale-95 bg-nrel-second-dark-blue text-white hover:bg-nrel-dark-blue"
  (click)="checkData()"
  [disabled]="isLoading">

  <ng-container *ngIf="!isLoading">
    Run CBL Tool
  </ng-container>

    <svg *ngIf="isLoading" class="animate-spin h-8 w-8 text-white absolute inset-0 m-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </button>
</div>
</div>



