.map-container {
  width: 80%;
  height: 80vh;
}

.export-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  padding: 10px 15px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export-btn:hover {
  background-color: #005bb5;
}
