__pycache__/
.env
.python-version
.ruff_cache/
.idea/
env/

dist

data/
.venv/
.DS_Store
.ipynb_checkpoints

# temporary files used for referencing/testing
santa_monica_file_merger.py
santa_monica_parser_2.py
mapquest_tempfile.json
locations_data.json
locations.json
main.py
tester.py
tester.json
output.geojson
