@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

/* Customize the scrollbar's track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
